---
import client from '../../tina/__generated__/client';
import Post from '../components/Post.astro';
import Posts from '../components/Posts.astro';
import Layout from '../layouts/Layout.astro';

// Fetching a single post
const response = await client.queries.post({relativePath: "hello-world.md"})
const post = response.data.post

const filteredPostsResponse = await client.queries.postConnection({filter: {title: {startsWith: "The"}}})
const filteredPosts = filteredPostsResponse.data.postConnection.edges?.map(post => post?.node?.title)
// console.log(post)
// console.log(post.title)

console.log(filteredPosts)
---

<Layout>
	<h1 class="text-2xl">Hello World!</h1>
	<Post title={post.title} />
	<Posts />
	{
		filteredPosts?.map(post => (
			<Post title={post} />
		))
	}
</Layout>
